body {
	background: #A68D76;
    color: #F3E9EA;
}

h1 {
	font-size:6.6em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	margin-bottom: 30px;
	-webkit-text-stroke: 2px black;
}

h2 {
	font-size:2.0em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.bigbutton {
	width:330px;
	height:330px;
	background: #800000; /*the colour of the button*/
	padding: 8px 14px 10px; /*apply some padding inside the button*/
	border:5px solid #000;
	cursor:pointer;
	font-size:2.0em;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing:.1em;
	color: #fff;
    display: inline;
    float:left;
    margin: 6px;
}

.bigbutton:hover {
	background: #bf0000;
}

/* http://stackoverflow.com/questions/396145/whats-the-best-way-of-centering-a-div-vertically-with-css */
.outer {
    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 684px;
}
