body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	background: #A68D76;
    color: #F3E9EA;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
}

img {
   padding:1px;
   border:1px solid #ffffff;
   background-color:#ff0;
}
