body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	background: #A68D76;
    color: #F3E9EA;
}

h1 {
	font: bold 4.5em Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 2px black;
}

h2 {
	font: bold 1.4em Helvetica, Arial, sans-serif;
}

p {
	font-size: 18px;
}

p.source {
	font-size: 12px;
}

select {
	font-size: 14px;
}
