body {
	background: #A68D76;
    color: #F3E9EA;
	font-family: Helvetica, Arial, sans-serif;
}

.error {
	font: bold 2.5em Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

h2 {
	font: bold 1.4em Helvetica, Arial, sans-serif;
    text-align: center;
}

table {
    table-layout: fixed;
	border-collapse: collapse;
}

table, th, td {	
	border: 1px solid black;
	background: white;
}

td {
	color: #000;
    overflow: hidden;
	padding: 6px;
	text-align: left;
}

th {
	background-color: #800000;
	text-align: left;
	height: 24px;
	min-width: 96px;
	max-width: 144px;
}

.errorbutton {
	width:330px;
	height:115px;
	background: #800000;
	padding: 8px 14px 10px;
	border:5px solid #000;
	cursor:pointer;
	font-size:1.0em;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing:.1em;
	color: #fff;
    margin-left: auto;
    margin-right: auto; 
}

.errorbutton:hover {
	background: #bf0000;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 330px;
}